.post-container {
  width: 350px;
}

.App {
  background-color: #99b1ff;
}

.AppContainer {
  background-color: #011f83;
  color: #f1dac4;
}

.addPostButton {
  width: 50%;
}

.allPosts {
  margin-top: 20px;
}

.newPost {
  margin-top: 20px;
}

.title {
  margin-top: 20px;
}
